@import "tailwindcss";

/* ================================
   GLOBAL BASE STYLES
================================ */
:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
}


@keyframes slideDown {
  from { opacity: 0; transform: translateY(-6px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}
